@media (max-width: 1230px) {
    .item {
        height: 700px;
    }
}

@media (max-width: 1080px) {
    .item {
        height: 600px;
    }
}

@media (max-width: 930px) {
    .item {
        height: 500px;
    }
}

@media (max-width: 780px) {
    .item {
        height: 400px;
    }
}

@media (max-width: 630px) {
    .item {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .item {
        height: 200px;
    }
}
